[Desktop Entry]
Type=Application
Version=1.0
Name=DuyKhanhOS Installer
Exec=/usr/local/bin/start-installer
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
