set timeout=5
set default=0

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    insmod gfxterm
    set gfxmode=auto
    terminal_output gfxterm
fi

menuentry "Live Mode (GUI)" {
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "Install DuyKhanhOS" {
    linux /live/vmlinuz boot=live quiet splash installer
    initrd /live/initrd.img
}

menuentry "Boot Installed System" {
    exit
}

submenu "Advanced Options" {

    menuentry "Live Mode (Safe Graphics)" {
        linux /live/vmlinuz boot=live nomodeset
        initrd /live/initrd.img
    }

    menuentry "Recovery Mode" {
        linux /live/vmlinuz boot=live single
        initrd /live/initrd.img
    }

}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
