set timeout=5
set default=0

menuentry "Live Mode (GUI)" {
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "Install DuyKhanhOS" {
    linux /live/vmlinuz boot=live quiet splash installer
    initrd /live/initrd.img
}

menuentry "Boot Installed System" {
    exit
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
