set default=0
set timeout=10

if loadfont /boot/grub/fonts/unicode.pf2; then
    insmod gfxterm
    insmod png
    set gfxmode=auto
    terminal_output gfxterm
fi

set theme=/boot/grub/themes/DuyKhanhOS/theme.txt

menuentry "Start DuyKhanhOS" {
    linux /live/vmlinuz boot=live components username=live hostname=DuyKhanhOS quiet splash
    initrd /live/initrd.img
}

menuentry "Install DuyKhanhOS to Hard Disk" {
    linux /live/vmlinuz boot=live components username=live hostname=DuyKhanhOS quiet splash installer
    initrd /live/initrd.img
}

submenu "Recovery Options" {

    menuentry "Compatibility Mode" {
        linux /live/vmlinuz boot=live components nomodeset
        initrd /live/initrd.img
    }

    menuentry "Recovery Mode" {
        linux /live/vmlinuz boot=live single
        initrd /live/initrd.img
    }

}
